openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW RedHot Web API'
 description: 'Web Resources Specification (A7) for RedHot'

servers:
- url: http://lbaw2352.fe.up.pt
- description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2352/-/wikis/home

tags:
 - name: 'M01: Autenticação e Perfil'
 - name: 'M02: Produtos e Catálogo'
 - name: 'M03: Compras e Carrinho'
 - name: 'M04: Wishlist'
 - name: 'M05: Comentários e Avaliações'
 - name: 'M06: Páginas de administrador'
 - name: 'M07: Páginas estáticas'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Formulário de Login'
     description: 'Fornecer um formulário de login. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '200':
         description: 'Ok. Mostrar a interface de login'
   post:
     operationId: R102
     summary: 'R102: Ação de Login'
     description: 'Processa a submissão do formulário de login. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:         
                 type: string
               password:   
                 type: string
             required:
               - email
               - password

     responses:
       '302':
         description: 'Redireciona depois de processar as credenciais de login.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Autenticado com sucesso. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Error:
                 description: 'Autenticação falhada. Redireciona para o formulário de login.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Ação de Logout'
     description: 'Remove a sessão do utilizador atual. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '302':
         description: 'Redireciona depois de processar o logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Logout com sucesso. Redireciona para o formulário de login.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Formulário de Registo'
     description: 'Fornece ao novo utilizador um formulário de registo. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '200':
         description: 'Ok. Mostra a interface do Sign-Up'

   post:
     operationId: R105
     summary: 'R105: Ação de Registo'
     description: 'Processa a submissão do formulário de registo. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               password:   
                 type: string
             required:
               - name
               - email
               - password

     responses:
       '302':
         description: 'Redireciona depois de processar a informação do novo utilizador'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Autenticado com sucesso. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Autenticação falhada. Redireciona para o formulário de login.'
                 value: '/login'

 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: Ver o meu perfil individual'
     description: 'Mostrar o meu perfil individual de utilizador. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface para editar o perfil de utilizador'
 
/users/{id}/edit:
   get:
     operationId: R107
     summary: 'R106: Formulário para editar o meu perfil individual'
     description: 'Editar o meu perfil individual. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface do Perfil de Utilizador'

   post:
     operationId: R105
     summary: 'R105: Ação de Editar o Perfil'
     description: 'Processa a submissão do formulário de edição de perfil. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
             required:
               - name
               - email

     responses:
       '302':
         description: 'Redireciona depois de processar a informação do novo utilizador'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Perfil alterado com sucesso. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Alteração de Perfil falhada. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'

/users/{id}/delete_account:
   get:
     operationId: R108
     summary: 'R106: Eliminar a minha conta'
     description: 'Eliminar a minha conta. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface do Perfil de Utilizador'

   post:
     operationId: R105
     summary: 'R105: Ação de Editar o Perfil'
     description: 'Processa a submissão do formulário de edição de perfil. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:
                 type: string
               password:
                 type: string
             required:
               - email
               - password

     responses:
       '302':
         description: 'Redireciona depois de processar a informação do novo utilizador'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Perfil alterado com sucesso. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Alteração de Perfil falhada. Redireciona o utilizador para o seu perfil.'
                 value: '/users/{id}'


