openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW RedHot Web API'
 description: 'Web Resources Specification (A7) for RedHot'

servers:
- url: http://lbaw2352.fe.up.pt
- description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2352/-/wikis/home

tags:
 - name: 'M01: Autenticação e Perfil'
 - name: 'M02: Produtos e Catálogo'
 - name: 'M03: Compras e Carrinho'
 - name: 'M04: Wishlist'
 - name: 'M05: Comentários e Avaliações'
 - name: 'M06: Páginas de administrador'
 - name: 'M07: Páginas estáticas'

paths:
 /login:
   get:
     operationId: R101
     summary: 'R101: Formulário de Login'
     description: 'Fornecer um formulário de login. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '200':
         description: 'Ok. Mostrar a interface de login'
   post:
     operationId: R102
     summary: 'R102: Ação de Login'
     description: 'Processa a submissão do formulário de login. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:         
                 type: string
               password:   
                 type: string
             required:
               - email
               - password

     responses:
       '302':
         description: 'Redireciona, depois de processar as credenciais de login.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Autenticado com sucesso. Redireciona, o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Error:
                 description: 'Autenticação falhada. Redireciona, para o formulário de login.'
                 value: '/login'

 /logout:

   post:
     operationId: R103
     summary: 'R103: Ação de Logout'
     description: 'Remove a sessão do utilizador atual. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '302':
         description: 'Redireciona, depois de processar o logout.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Logout com sucesso. Redireciona, para o formulário de login.'
                 value: '/login'

 /register:
   get:
     operationId: R104
     summary: 'R104: Formulário de Registo'
     description: 'Fornece ao novo utilizador um formulário de registo. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'
     responses:
       '200':
         description: 'Ok. Mostra a interface do Sign-Up'

   post:
     operationId: R105
     summary: 'R105: Ação de Registo'
     description: 'Processa a submissão do formulário de registo. Acesso: PUB'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               name:
                 type: string
               email:
                 type: string
               password:   
                 type: string
             required:
               - name
               - email
               - password

     responses:
       '302':
         description: 'Redireciona, depois de processar a informação do novo utilizador'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Resgistado com sucesso. Redireciona, o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Resgisto falhado. Redireciona, para o formulário de registo.'
                 value: '/register'

 /users/{id}:
   get:
     operationId: R106
     summary: 'R106: Ver o meu perfil individual'
     description: 'Mostrar o meu perfil individual de utilizador. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
        '200':
          description: 'Objeto JSON com os dados do utilizador'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                example:
                  id: 1012
                  name: 'Fernando Mendes'
                  email: 'fernadomendes@gmail.com'


 /users/{id}/edit:
   get:
     operationId: R107
     summary: 'R107: Formulário para editar o meu perfil individual'
     description: 'Editar o meu perfil individual. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface de Edição do Perfil de Utilizador'

   post:
     operationId: R108
     summary: 'R108: Ação de Editar o Perfil'
     description: 'Processa a submissão do formulário de edição de perfil. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               userId:
                 type: integer
               password:
                 type: string
               newName:
                 type: string
               newEmail:
                 type: string

             required:
               - userId
               - password
               - newName
               - newEmail


     responses:
       '302':
         description: 'Redireciona, depois de processar a informação do novo utilizador'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Perfil alterado com sucesso. Redireciona, o utilizador para o seu perfil.'
                 value: '/users/{id}'
               302Failure:
                 description: 'Alteração de Perfil falhada. Redireciona, o utilizador para o seu perfil.'
                 value: '/users/{id}'
 
 /users/{id}/delete_account:
   get:
     operationId: R109
     summary: 'R109: Eliminar a minha conta'
     description: 'Eliminar a minha conta. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface de Eliminação da Conta'

   post:
     operationId: R110
     summary: 'R110: Ação de Eliminar a Conta'
     description: 'Processa a submissão do formulário de eliminar conta. Acesso: USR, ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               userId:
                 type: integer
               password:
                 type: string
             required:
               - userId
               - password

     responses:
       '302':
         description: 'Redireciona, depois de processar o pedido'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Conta eliminada com sucesso. Redireciona, o utilizador para a Página Inicial.'
                 value: '/'
               302Failure:
                 description: 'Eliminação da Conta falhada. Redireciona, o utilizador para o seu perfil.'
                 value: '/users/{id}'

 /users/{id}/ban:
   get:
     operationId: R111
     summary: 'R111: Banir um utilizador'
     description: 'Banir um utilizador. Acesso: ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     parameters:
       - in: path
         name: id
         schema:
           type: integer
         required: true

     responses:
       '200':
         description: 'Ok. Mostrar a interface de Banir Utilizador'
   post:
     operationId: R112
     summary: 'R112: Ação de Banir um Utilizador'
     description: 'Processa a submissão do formulário de banir utilizador. Acesso: ADM'
     tags:
       - 'M01: Autenticação e Perfil'

     requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userId:
                  type: integer
              required:
                - userId

     responses:
        '302':
          description: 'Redireciona, depois de processar o pedido'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Utilizador banido com sucesso. Redireciona, o admininstrador para o perfil do utilizador banido.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Banimento do Utilizador falhado. Redireciona, o admininstrador para o perfil do utilizador banido.'
                  value: '/users/{id}'
        
 /faqs:
   get:
     operationId: R701
     summary: 'R701: Ver todas as FAQs'
     description: 'Mostrar todas as FAQs. Acesso: PUB'
     tags:
       - 'M07: Páginas estáticas'

       
   responses:
    '200':
      description: 'Objeto JSON com todas as FAQs'
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                question:
                  type: string
                answer:
                  type: string
          example:
            - id: 1
              question: 'What is RedHot?'
              answer: 'RedHot is a web application that allows users to buy all kinds of scpivcy related products.''
            - id: 7
              question: 'How can I contact RedHot?'
              answer: 'You can contact us through our email(redhot@spicy.com) or through our phone number(123456789).'

 /add_faq:
   get:
      operationId: R702
      summary: 'R702: Formulário para adicionar uma FAQ'
      description: 'Adicionar uma FAQ. Acesso: ADM'
      tags:
        - 'M07: Páginas estáticas'

      responses:
        '200':
          description: 'Ok. Mostrar a interface de Adicionar uma FAQ'

   post:
     operationId: R703
     summary: 'R703: Ação de Adicionar uma FAQ'
     description: 'Processa a submissão do formulário de adicionar uma FAQ. Acesso: ADM'
     tags:
       - 'M07: Páginas estáticas'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
                question:
                  type: string
                answer:
                  type: string
             required:
                - question
                - answer

     responses:
       '302':
         description: 'Redireciona, depois de processar a informação da nova FAQ'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'FAQ adicionada com sucesso. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'
               302Failure:
                 description: 'Adição da FAQ falhada. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'
      
