openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW RedHot Web API'
 description: 'Web Resources Specification (A7) for RedHot'

servers:
- url: http://lbaw2352.fe.up.pt
- description: Production server

externalDocs:
 description: Visite a nossa wiki
 url: https://git.fe.up.pt/lbaw/lbaw2324/lbaw2352/-/wikis/home

tags:
 - name: 'M01: Autenticação e Perfil'
 - name: 'M02: Produtos e Catálogo'
 - name: 'M03: Compras e Carrinho'
 - name: 'M04: Wishlist'
 - name: 'M05: Comentários e Avaliações'
 - name: 'M06: Páginas de administrador'
 - name: 'M07: Páginas estáticas'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Login'
      description: 'Fornecer um formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil'
      responses:
        '200':
          description: 'Ok. Mostrar a interface de login'
    post:
      operationId: R102
      summary: 'R102: Ação de Login'
      description: 'Processa a submissão do formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:         
                  type: string
                password:   
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redireciona, depois de processar as credenciais de login.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Autenticado com sucesso. Redireciona, o utilizador para o seu perfil.'
                  value: '/users/{id}'
                302Error:
                  description: 'Autenticação falhada. Redireciona, para o formulário de login.'
                  value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Ação de Logout'
      description: 'Remove a sessão do utilizador atual. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'
      responses:
        '302':
          description: 'Redireciona, depois de processar o logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Logout com sucesso. Redireciona, para o formulário de login.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Formulário de Registo'
      description: 'Fornece ao novo utilizador um formulário de registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil'
      responses:
        '200':
          description: 'Ok. Mostra a interface do Sign-Up'

    post:
      operationId: R105
      summary: 'R105: Ação de Registo'
      description: 'Processa a submissão do formulário de registo. Acesso: PUB'
      tags:
        - 'M01: Autenticação e Perfil'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:   
                  type: string
              required:
                - name
                - email
                - password

      responses:
        '302':
          description: 'Redireciona, depois de processar a informação do novo utilizador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Resgistado com sucesso. Redireciona, o utilizador para o seu perfil.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Resgisto falhado. Redireciona, para o formulário de registo.'
                  value: '/register'

  /users/{id}:
    get:
      operationId: R106
      summary: 'R106: Ver o meu perfil individual'
      description: 'Mostrar o meu perfil individual de utilizador. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Objeto JSON com os dados do utilizador'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  email:
                    type: string
                example:
                  id: 1012
                  name: 'Fernando Mendes'
                  email: 'fernadomendes@gmail.com'


  /users/{id}/edit:
    get:
      operationId: R107
      summary: 'R107: Formulário para editar o meu perfil individual'
      description: 'Editar o meu perfil individual. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a interface de Edição do Perfil de Utilizador'

    post:
      operationId: R108
      summary: 'R108: Ação de Editar o Perfil'
      description: 'Processa a submissão do formulário de edição de perfil. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userId:
                  type: integer
                password:
                  type: string
                newName:
                  type: string
                newEmail:
                  type: string
              required:
                - userId
                - password

      responses:
        '302':
          description: 'Redireciona, depois de processar a informação do novo utilizador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Perfil alterado com sucesso. Redireciona, o utilizador para o seu perfil.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Alteração de Perfil falhada. Redireciona, o utilizador para o seu perfil.'
                  value: '/users/{id}'
 
  /users/{id}/delete_account:
    get:
      operationId: R109
      summary: 'R109: Eliminar a minha conta'
      description: 'Eliminar a minha conta. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Mostrar a interface de Eliminação da Conta'

    post:
      operationId: R110
      summary: 'R110: Ação de Eliminar a Conta'
      description: 'Processa a submissão do formulário de eliminar conta. Acesso: USR, ADM'
      tags:
        - 'M01: Autenticação e Perfil'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userId:
                  type: integer
                password:
                  type: string
              required:
                - userId
                - password

      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Conta eliminada com sucesso. Redireciona, o utilizador para a Página Inicial.'
                  value: '/'
                302Failure:
                  description: 'Eliminação da Conta falhada. Redireciona, o utilizador para o seu perfil.'
                  value: '/users/{id}'

  /users/{id}/ban:
    post:
      operationId: R111
      summary: 'R111: Ação de Banir um Utilizador'
      description: 'Bane um utilizador. Acesso: ADM'
      tags:
        - 'M01: Autenticação e Perfil'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userId:
                  type: integer
              required:
                - userId

      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Utilizador banido com sucesso. Redireciona, o admininstrador para o perfil do utilizador banido.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Banimento do Utilizador falhado. Redireciona, o admininstrador para o perfil do utilizador banido.'
                  value: '/users/{id}'
        
  /users/{id}/unban:
    post:
      operationId: R112
      summary: 'R112: Ação de Remover o Banimento um Utilizador'
      description: 'Remove o banimento de um utilizador. Acesso: ADM'
      tags:
        - 'M01: Autenticação e Perfil'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userId:
                  type: integer
              required:
                - userId

      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Remoção do banimento do Utilizador com sucesso. Redireciona, o admininstrador para o perfil do utilizador em questão.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Remoção do banimento do Utilizador falhada. Redireciona, o admininstrador para o perfil do utilizador em questão.'
                  value: '/users/{id}'

  /products/{id}/add_to_chart:
    post:
      operationId: R301
      summary: 'R301: Adicionar um produto ao carrinho da sessão atual'
      description: 'Adicionar uma dada quantidade de um produto pelo seu id ao carrinho associado ao utilizador com sessão iniciada. Acesso: USR'
      tags:
        - 'M03: Compras e Carrinho'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
              required:
                - quantity
      
      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido de adição.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Produto adicionado ao carrinho com sucesso.'
                  value: '/products'
                302Failure:
                  description: 'Falha ao adicionar produto.'
                  value: '/faqs'
  
  /chart:
    get:
      operationId: R302
      summary: 'R302: Revisão do carrinho de compras'
      description: 'Apresenta um sumário dos produtos existentes no carrinho de compras associado à sessão iniciada. Acesso: USR'
      tags:
        - 'M03: Compras e Carrinho'
      
      responses:
        '200':
          description: 'OK. Mostrar a página de revisão do carrinho.'

  /chart/checkout:
    get:
      operationId: R303
      summary: 'R303: Formulário de checkout do carrinho atual'
      description: 'Apresenta o formulário a preencher para proceder ao checkout do carrinho associado à sessão iniciada. Acesso: USR'
      tags:
        - 'M03: Compras e Carrinho'
      
      responses:
        '200':
          description: 'OK. Mostrar a página de preenchimento de informação necessária para proceder ao checkout de um carrinho de compras.'
    
    post:
      operationId: R304
      summary: 'R304: Ação de Checkout'
      description: 'Processa o checkout do carrinho de compras associado à sessão iniciada com base nos parâmetros fornecidos. Acesso: USR'
      tags:
        - 'M03: Compras e Carrinho'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                cardNo:
                  type: integer
                cardHolder:
                  type: string
                cardExpiryMonth:
                  type: integer
                cardExpiryYear:
                  type: integer
                cardCVV:
                  type: integer
                street:
                  type: string
                doorNo:
                  type: integer
                city:
                  type: string
                country:
                  type: string
                deliveryObs:
                  type: string
              required:
                - cardNo
                - cardHolder
                - cardExpiryMonth
                - cardExpiryYear
                - cardCVV
                - street
                - doorNo
                - city
                - country

      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido de checkout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Checkout efetuado com successo.'
                  value: '/index'
                302Failure:
                  description: 'Falha no checkout.'
                  value: '/chart'
  
  /users/{userId}/orders/{orderId}:
    get:
      operationId: R305
      summary: 'R305: Estado e Detalhes da Encomenda'
      description: 'Seguimento do estado de uma encomenda. Acesso: USR/ADM'
      tags:
        - 'M03: Compras e Carrinho'
      
      parameters:
        - in: path
          name: userID
          schema:
            type: integer
          required: true
        - in: path
          name: orderId
          schema:
            type: integer
          required: true
      
      responses:
        '200':
          description: 'OK. Mostrar a página com os detalhes da encomenda pretendida.'

  /users/{userId}/orders/{orderId}/cancel:
    post:
      operationId: R306
      summary: 'R306: Cancelamento de Encomenda'
      description: 'Cancelamento de uma Encomenda. Acesso: USR'
      tags:
        - 'M03: Compras e Carrinho'
      
      parameters:
        - in: path
          name: userID
          schema:
            type: integer
          required: true
        - in: path
          name: orderId
          schema:
            type: integer
          required: true
      
      responses:
        '302':
          description: 'Redireciona, depois de processar o pedido de cancelamento.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Encomenda cancelada com sucesso.'
                  value: '/index'
                302Failure:
                  description: 'Falha no cancelamento da encomenda.'
                  value: '/chart'

  /products/{id}/add_to_wishlist:
    post:
      operationId: R401
      summary: 'R401: Adicionar um produto à wishlist'
      description: 'Adicionar um produto à wishlist. Acesso: USR'
      tags:
        - 'M04: Wishlist'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                productId:
                  type: integer
              required:
                - productId

      responses:
        '302':
          description: 'Redireciona, depois de adicionar o produto à wishlist, para a página do produto'
          headers:
            Location:
              schema:
                type: string       
              examples:
                302Success:
                  description: 'Produto adicionado à wishlist com sucesso'
                  value: /products/{id}
                302Failure:
                  description: 'Falha ao adicionar produto à wishlist'
                  value: /products/{id}

  /products/{id}/reviews:
    get:
      operationId: R501
      summary: 'R501: Ver as avaliações feitas a um produto'
      description: 'Mostrar as avaliações feitas a um produto. Acesso: PUB'
      tags:
        - 'M05: Comentários e Avaliações'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Objeto JSON com as diferentes avaliaçoes feitas ao produto'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviews:
                    type: array
                    description: 'Avaliações feitas ao produto'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        rating:
                          type: number
                        comment:
                          type: string
                        date:
                          type: string
                        user:
                          type: object
                          description: 'Utilizador que fez a avaliação'
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            email:
                              type: string
                example:
                  reviews:
                    - id: 68
                      rating: 2.5
                      comment: 'Muito bom'
                      date: '2020-12-12'
                      user:
                        id: 1012
                        name: 'Fernando Mendes'
                        email: 'fernadomendes@gmail.com'
                    - id: 224
                      rating: 5
                      comment: 'Bom'
                      date: '2020-12-12'
                      user:
                        id: 167
                        name: 'Maria'
                        email: 'mariaxd@gmail.com'


  /products/{id}/reviews/add_review:
    post:
      operationId: R502
      summary: 'R502: Adicionar uma avaliação a um produto'
      description: 'Adicionar uma avaliação a um produto. Acesso: USR'
      tags:
        - 'M05: Comentários e Avaliações'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

        - in: query
          name: rating
          schema:
            type: number
          required: true

        - in: query
          name: comment
          schema:
            type: string
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                rating:
                  type: number
                comment:
                  type: string
              required:
                - rating
                - comment

      responses:
        '302':
          description: 'Redireciona, depois de adicionar a avaliação, para a página do produto'
          headers:
            Location:
              schema:
                type: string       
              examples:
                302Success:
                  description: 'Avaliação adicionada com sucesso'
                  value: /products/{id}/reviews
                302Failure:
                  description: 'Falha ao adicionar avaliação'
                  value: /products/{id}/reviews
              
      
  /products/{id}/reviews/{id_review}/edit_review:
    get:
      operationId: R503
      summary: 'R503: Editar uma avaliação a um produto'
      description: 'Editar uma avaliação a um produto. Acesso: USR'
      tags:
        - 'M05: Comentários e Avaliações'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                productId:
                  type: integer
                rating:
                  type: float
                comment:
                  type: string
              required:
                - productId
                - rating
                - comment

      responses:
        '302':
          description: 'Redireciona, depois de editar a avaliação, para a página do produto'
          headers:
            Location:
              schema:
                type: string       
              examples:
                302Success:
                  description: 'Avaliação editada com sucesso'
                  value: /products/{id}/reviews/{id_review}
                302Failure:
                  description: 'Falha ao editar avaliação'
                  value: /products/{id}/reviews/{id_review} 


  /products/{id}/reviews/{id_review}/delete_review:
    post:
      operationId: R504
      summary: 'R504: Apagar uma avaliação a um produto'
      description: 'Apagar uma avaliação a um produto. Acesso: USR, ADM'
      tags:
        - 'M05: Comentários e Avaliações'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                productId:
                  type: integer
              required:
                - productId

      responses:
        '302':
          description: 'Redireciona, depois de apagar a avaliação, para a página do produto'
          headers:
            Location:
              schema:
                type: string       
              examples:
                302Success:
                  description: 'Avaliação apagada com sucesso'
                  value: /products/{id}/reviews
                302Failure:
                  description: 'Falha ao apagar avaliação'
                  value: /products/{id}/reviews/{id_review}                


  /products/{id}/reviews/{id_review}/delete_comment:
    post:
      operationId: R505
      summary: 'R505: Apagar um comentário numa avaliação'
      description: 'Apagar um comentário ofensivo/inapropriado numa avaliação. Acesso: ADM'
      tags:
        - 'M05: Comentários e Avaliações'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                productId:
                  type: integer
              required:
                - productId

      responses:
        '302':
          description: 'Redireciona, depois de apagar o comentário, para a página do produto'
          headers:
            Location:
              schema:
                type: string       
              examples:
                302Success:
                  description: 'Comentário apagado com sucesso'
                  value: /products/{id}/reviews/{id_review}
                302Failure:
                  description: 'Falha ao apagar comentário'
                  value: /products/{id}/reviews/{id_review}

  /faqs:
    get:
      operationId: R701
      summary: 'R701: Ver todas as FAQs'
      description: 'Mostrar todas as FAQs. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'
       
      responses:
        '200':
          description: 'Objeto JSON com todas as FAQs'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    question:
                      type: string
                    answer:
                      type: string
              example:
                - id: 1
                  question: 'What is RedHot?'
                  answer: 'RedHot is a web application that allows users to buy all kinds of scpivcy related products.'
                - id: 7
                  question: 'How can I contact RedHot?'
                  answer: 'You can contact us through our email(redhot@spicy.com) or through our phone number(123456789).'

  /add_faq:
    get:
      operationId: R702
      summary: 'R702: Formulário para adicionar uma FAQ'
      description: 'Adicionar uma FAQ. Acesso: ADM'
      tags:
        - 'M07: Páginas estáticas'

      responses:
        '200':
          description: 'Ok. Mostrar a interface de Adicionar uma FAQ'

    post:
      operationId: R703
      summary: 'R703: Ação de Adicionar uma FAQ'
      description: 'Processa a submissão do formulário de adicionar uma FAQ. Acesso: ADM'
      tags:
        - 'M07: Páginas estáticas'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                question:
                  type: string
                answer:
                  type: string
              required:
                - question
                - answer

      responses:
        '302':
          description: 'Redireciona, depois de processar a informação da nova FAQ'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'FAQ adicionada com sucesso. Redireciona, o admininstrador para a página de FAQs.'
                  value: '/faqs'
                302Failure:
                  description: 'Adição da FAQ falhada. Redireciona, o admininstrador para a página de FAQs.'
                  value: '/faqs'

  /faqs/{id}:
    get:
      operationId: R704
      summary: 'R704: Ver uma FAQ'
      description: 'Mostrar uma FAQ. Acesso: PUB'
      tags:
        - 'M07: Páginas estáticas'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Objeto JSON com a FAQ'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  question:
                    type: string
                  answer:
                    type: string
              example:
                id: 1
                question: 'What is RedHot?'
                answer: 'RedHot is a web application that allows users to buy all kinds of scpivcy related products.'

  /faqs/{id}/edit:
    get:
      operationId: R705
      summary: 'R705: Formulário para editar uma FAQ'
      description: 'Editar uma FAQ. Acesso: ADM'
      tags:
        - 'M07: Páginas estáticas'
  
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
  
      responses:
        '200':
          description: 'Ok. Mostrar a interface de Edição da FAQ'

    post:
      operationId: R706
      summary: 'R706: Ação de Editar uma FAQ'
      description: 'Processa a submissão do formulário de editar uma FAQ. Acesso: ADM'

      tags:
        - 'M07: Páginas estáticas'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
                question:
                  type: string
                answer:
                  type: string

      responses:
        '302':
         description: 'Redireciona, depois de processar a informação da edição'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'FAQ editada com sucesso. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'
               302Failure:
                 description: 'Edição da FAQ falhada. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'

  /faqs/{id}/delete:
    post:
      operationId: R707
      summary: 'R707: Ação de Eliminar uma FAQ'
      description: 'Eliminar uma FAQ. Acesso: ADM'
      tags:
        - 'M07: Páginas estáticas'
        
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
                faqId:
                  type: integer
             required:
                - faqId

      responses:
        '302':
         description: 'Redireciona, depois de processar a informação da eliminação'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'FAQ eliminada com sucesso. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'
               302Failure:
                 description: 'Eliminação da FAQ falhada. Redireciona, o admininstrador para a página de FAQs.'
                 value: '/faqs'

